<html>
    <head>
        <title>Research Paper Query</title>
        <link rel="stylesheet" href="/css/Semantic-UI-CSS-master/semantic.min.css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300i,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/custom/header.css">
    </head>

    <body>
        <div class="ui top attached  menu">
            <div class="item">
                <a href="/">
                    <h2 class="ui header">
                        <i class="flask icon"></i>
                        <div class="content">
                            Research Paper Query
                        </div>
                    </h2>
                </a>
                
            </div>
            <div class="right menu">
                <div class="item ">
                    <form action="/" method="POST" class="headerForm" style="background: rgb(255, 255, 255)">
                        <div class="ui icon input">
                            <input type="text" placeholder="Search..." name="articleName">
                            <button type="submit" id="submitButton" ><i class="inverted circular search link icon"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        