<html>
    <head>
        <title>Research Paper Query</title>
        <link rel="stylesheet" href="/css/Semantic-UI-CSS-master/semantic.min.css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300i,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/custom/header.css">
    </head>

    <body>
        <div class="ui top attached  menu">
            <div class="item">
                <a href="/">
                    <h2 class="ui header">
                        <i class="flask icon"></i>
                        <div class="content">
                            Research Paper Query
                        </div>
                    </h2>
                </a>
            </div>
        </div>
        