/*-------------------- basic setup -------------------*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    background-color: #343A49;
    font-weight: 300;
    font-size: 20px;
    width: 100%;
}

/* -----------------------header --------------------*/
header{
    
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #00C2C7;
}

h1{
    font-size: 300%;
    font-family: 'Open Sans', sans-serif;
}

/* ----------------------main body------------------ */
.main{
    margin: 15% auto;
    padding: 0 ;
    width: 50%;
    text-align: center;
}

#searchbar{
    width: 70%;
    height: 45px;
    border: 0.5px solid #ffffff;
    border-radius: 20px;
    background-color: #fff;
    padding: 2.5%; 
    outline: none;
}

#searchbar:hover,
#searchbar:active{
    background: rgba(241, 230, 230, 0.925);
}

#searchbar::placeholder{
    color: rgb(0, 0, 0);
    font-weight: 400;
    text-align: center;
}

/* --------------- footer ----------------------- */
footer{
    background-color: #161514;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 1.5%;
    text-align: center;
    margin-top: 0;
}

#footer-nav{
    float: left;
    list-style: none;
}
#footer-nav li{
    display: inline-block;
    padding: 0px 40px;
}

#footer-nav li a{
    color: #19F600;
}

#social-links{
    float: right;
    list-style: none;
}

#social-links li{
    display: inline-block;
    padding: 0px 40px;
}

#social-links li:nth-of-type(1) a{
    color: rgb(21, 9, 194);
}

#social-links li:nth-of-type(2) a{
    color: #00C2C7;
}

#social-links li:nth-of-type(3) a{
    color: rgb(224, 136, 3);
}

#footer-nav li a:hover,
#social-links li:nth-of-type(1) a:hover,
#social-links li:nth-of-type(2) a:hover,
#social-links li:nth-of-type(3) a:hover{
    text-decoration: none;
    color: white;
}

footer p{
    display: inline-block;
    width: 100%;
    color: #ffffff;
    margin-bottom: 1%;
    letter-spacing: 1px;
}

footer p:hover{
    color: rgb(238, 255, 2);
}

