<% include partials/header.ejs%>

    <link rel="stylesheet" href="/css/custom/home.css">

    <div class="ui container">

        <form action="/" method="POST" class="ui form grid">
            <div class="fourteen wide column input">
                <input type="text" name="articleName" placeholder="search research papers">
            </div>
            <div class="two wide column submit">
                <button type="submit" id="submitButton" ><i class="inverted circular search link icon"></i></button>
            </div>
        </form>
    </div>

<%include partials/footer.ejs%>
