<% include partials/header.ejs %>

   <link rel="stylesheet" href="/css/custom/showArticle.css">

    <div class="ui container">
        <h1 id="abstractHeading"><span style="color: rgb(5, 194, 252)">Abstract</span> : <%= article['title'] %></h1>
        
        <div class="ui container abstract">

            <div id="links" class="ui grid">
                <span class="eight wide column" style="border-right: 2px solid #fff">
                    <a href="/articles"><i class="angle left icon"></i><span class="link-text">Back</span></a>
                </span>
                <span class="eight wide column">
                    <a href="/articles/<%=article['doi']%>/download"><i class="download icon"></i><span class="link-text">Download</span></a>
                </span>
            </div>

            <p id="abstract-content"><%= article['abstract'] %></p>          
            
        </div>
        
    </div>
    
<% include partials/footer.ejs %>