.ui.container{
    width: 90%;
    margin-top: 25px;
    padding: 2%;
    border: 1px solid black;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    background-attachment: fixed;
    margin-bottom: 1%;
}

#heading{
    margin: 1% 0% 1% 5%;
    color: rgb(0, 0, 0);
    font-size: 300%;
}

#heading span{
    color: rgb(127, 223, 247); 
    text-decoration: underline
}

.ui.container.Article{
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgba(85, 81, 81, 0),rgba(85, 81, 81, 0));
    background-attachment: scroll;
}

.ui.container.Article .article-title h3{
    color: rgb(2, 2, 2);
    margin-left: 5%;
    font-size: 150%;
}

#backButton{
    margin-left: 90%;
    height: 5%;
    padding: 1%;
    background: rgb(0, 176, 230)
}

.thumbs.down.outline.icon{
    font-size: 300%;
    text-align: center;
    margin: 2.5% 47%;
    color: rgb(233, 33, 33);
}
#notFound{
    color: rgb(233, 33, 33);
    text-align: center;
    font-size: 300%;
}