body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-image: url("/images/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Ubuntu', sans-serif;
}

.ui.top.attached.menu{
    background: rgba(219, 211, 199,0.4);
}

.ui.header{
    color: #2600ad;
}

.ui.header:hover{
    color: #000000;
}

.ui.top.attached.menu .right.menu .item .headerForm{
    box-sizing: border-box;
    margin: 0;
}

.headerForm .ui.icon.input input{
    border: 2px solid #000000;
}
.headerForm .ui.icon.input input:focus,
.headerForm .ui.icon.input input:hover{
    border: 2px solid #534e4e;
    background: rgb(226, 231, 215);
}

.headerForm .ui.icon.input button{
    background: transparent;
    border: 2px solid #000000;
    border-left: none;
}