.ui.container{
    background: rgba(0,0,0,0.65);
    width: 60%;
    margin-top: 1%;
    padding: 2%;
}

.ui.container #abstractHeading{
    color: aliceblue;
    margin-left: 5%;
}

.ui.container.abstract{
    width: 90%;
}

#links{
    background: rgba(0,0,0,0.40);
    height: 45px;
    box-shadow: 0 2px rgb(7, 153, 238);
}

.link-text{
    visibility: hidden;
    font-size: 100%;
    transition: visibility 0.5s;
}

#links:hover .link-text{
    color: rgb(7, 153, 238);
    font-size: 100%;
    visibility: visible;
}

#links span.eight.wide.column{
    text-align: center;
    padding: 1% 0;
}

.eight.wide.column i{
    color: rgb(255, 136, 0);
    font-size: 125%;
    padding: 0;
}

#abstract-content{
    margin-top: 4%;
    padding: 1% 3%;
    color: rgb(0, 255, 13);
    text-align: justify;
    word-spacing: 2px;
    letter-spacing: 0.8px;
}
